*~
aka_cat/Aka_cat_left.wav
aka_cat/Aka_cat_right.wav
at_the_edge_of_hope/At_the_edge_of_hope_left.wav
at_the_edge_of_hope/At_the_edge_of_hope_right.wav
chipmunx/Chipmunx_left.wav
chipmunx/Chipmunx_right.wav
christmas_storm_cha/Christmas_storm_cha_left.wav
christmas_storm_cha/Christmas_storm_cha_right.wav
descarga_giardia/silence_arr_01.ck
descarga_giardia/tmp.ck
descarga_giardia/test_left.wav
descarga_giardia/test_right.wav
dubbancha/Dubbancha_left.wav
dubbancha/Dubbancha_right.wav
gas_station/Gas_station_left.wav
gas_station/Gas_station_right.wav
let_me_live/Let_me_live_left.wav
let_me_live/Let_me_live_right.wav
moonshine_reggae/Moonshine_reggae_left.wav
moonshine_reggae/Moonshine_reggae_right.wav
seven_lives/Seven_lives_right.wav
seven_lives/Seven_lives_left.wav
skwabisk/Skwabisk_left.wav
skwabisk/Skwabisk_right.wav
